/**
    created By: Anass LAARIBI
    Date: 12/12/2021
*/

:root {
    --color-primary: #76448A;
    --color-secondary: #4A235A;


}

/* Start General CSS */
.bg-my-primary {
    background-color: var(--color-primary);
    color: #fff;
}
.bg-my-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}
.text-my-primary {
    color: var(--color-primary);
}
/* End General CSS */

/* Start navbar */
.navbar {
    padding: 1rem;
}
/* End Navbar */

/* Start Home */
.home{
    background-color: var(--color-secondary);
    color: #fff;
    height: calc(100vh - 84px);
}
/* End Home */


/* Start Home2 */
.home2{

    background-color: #E8DAEF;
    color: var(--color-primary);
}
.home2 .title{
    margin: 200px 0px;
}
/* End Home2 */

.test-sec {
    height: 400px;
}